<!DOCTYPE html>
<head>
    <title>My Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ZotSearchHome.css') }}">
</head>
<body>
    <img id="zotSearchLogo" src="{{ url_for('static', filename='zotSearchLogo.png') }}" alt="Zot Search Logo">
    <form id="searchForm" action="/search" method="get">
        <input type="text" id="searchBar" name="query" placeholder="Enter your search term">
        <input type="submit" value="Search">
    </form>
</body>
</html>




